*,
*:focus {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Courier New", Courier, monospace;
  background: fixed linear-gradient(-24deg, black, red, darkred, darkred, black)
    100%;
  color: white;
}
input[type="range"] {
  height: 2px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
  background: rgba(241, 49, 248, 0.1);
  cursor: pointer;
  transition: 0.3s all ease;
}

.albumArt {
  object-fit: cover;
}
header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 70px;
  background: rgba(128, 128, 128, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px black;
  border-radius: 24px;
  margin: 10px 2.5% 0px 2.5%;
}
main {
  height: calc(100vh - 90px);
  margin: 90px 0 0 0;
}
.label1 {
  padding: 10px;
  font-size: 2.5rem;
  cursor: default;
}
.albumArt {
  border-radius: 50%;
}
.btn {
  background: transparent;
  border: none;
}
.playerWrapper {
  position: relative;
  width: 65%;
  height: 98%;
  background: rgba(128, 128, 128, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px black;
  border-radius: 24px;
  margin: 20px auto 0 auto;
}
.playerWrapper .fullDetails {
  transform: scale(0);
  z-index: -100;
  transition: 0.3s all ease;
}
.viewDetails {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 50%;
  z-index: 10;
  transition: 0.3s all ease;
}
.viewDetails::after {
  position: inherit;
  content: "";
  width: 30px;
  height: 1px;
  transform: translateY(10px) translateX(0) rotate(45deg);
  background: white;
  transition: 0.3s all ease;
}

.viewDetails::before {
  position: inherit;
  content: "";
  width: 30px;
  height: 1px;
  transform: translateY(0) rotate(-45deg);
  background: white;
}
.playerWrapper .fullDetails.view {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  transform: scale(1);
  background: rgba(0, 0, 0, 1);
  backdrop-filter: blur(20px);
  border-radius: 24px;
  z-index: 50;
  cursor: default;
}
.playerWrapper .fullDetails .albumArt {
  transform: translateY(-20px);
  width: 40vh;
  height: 40vh;
  border-radius: 24px;
}
.playerWrapper .fullDetails .trackInfo {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
  font-size: 1rem;
}
.playerTop {
  display: none;
  position: absolute;
  top: 0;
  width: 100%;
  height: 70px;
  background: rgba(0, 0, 0, 0.9);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px black;
  border-radius: 24px 24px 0 0;
}
.playerTop .optionList {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.playerTop .optionList .option {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33%;
  height: 100%;
  list-style: none;
  background: orangered;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s all ease;
}
.playerTop .optionList .option:first-child {
  background: darkred;
  border-top-left-radius: 24px;
}
.playerTop .optionList .option:last-child {
  background: darkmagenta;
  border-top-right-radius: 24px;
}
.playerTop .optionList .option:hover {
  transform: scale(0.95);
}
.playlistWrap {
  position: absolute;
  top: 0;
  width: 100%;
  height: calc(100% - 100px);
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
  margin: 0 0 0 0;
  overflow: auto;
  border-radius: 24px 24px 0 0;
}
.list {
  display: flex;
  justify-content: flex-start;
  align-items: start;
  flex-direction: column;
  gap: 5px;
  padding: 5px 5px;
}
.list .item {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  list-style: none;
  width: 100%;
  background: #0000003d;
  border-radius: 12px;
  padding: 10px;
  cursor: pointer;
  transition: 0.2s all ease;
}
.list .item .itemDetail {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}
.list .item:hover,
.list .item.playing {
  background: #000000a8;
  transform: scale(0.98);
}
.list .item .edit {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 10px;
  text-align: center;
  background: rgba(128, 128, 128, 0.4);
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s all ease;
}
.list .item .edit:hover {
  background: rgba(128, 128, 128, 0.8);
}
.playlistWrap::-webkit-scrollbar {
  background: transparent;
  width: 5px;
}
.playlistWrap::-webkit-scrollbar-track {
  border-radius: 100vw;
  background: inherit;
}
.playlistWrap::-webkit-scrollbar-thumb {
  border-radius: 100vw;
  background: linear-gradient(darkred, red);
}
.icon {
  width: 35px;
  height: 35px;
}
.playerBottom.expand {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px black;
  border-radius: 24px 24px 24px 24px;
  padding: 4px;
}
.expandPlayer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 50%;
  z-index: 10;
  transition: 0.3s all ease;
}
.expandPlayer::after {
  position: inherit;
  content: "";
  width: 15px;
  height: 1px;
  transform: translateY(0) translateX(10px) rotate(45deg);
  background: white;
  transition: 0.3s all ease;
}
.expandPlayer.expand::after {
  width: 30px;
  height: 1px;
  transform: translateY(10px) translateX(0) rotate(45deg);
  transition: 0.3s all ease;
}
.expandPlayer::before {
  position: inherit;
  content: "";
  width: 15px;
  height: 1px;
  transform: translateY(0) rotate(-45deg);
  background: white;
}
.expandPlayer.expand::before {
  width: 30px;
  height: 1px;
  transform: translateY(0) rotate(-45deg);
}
.playerBottom {
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: rgba(0, 0, 0, 0.9);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px black;
  border-radius: 0 0 24px 24px;
  overflow: hidden;
  transition: 0.3s all ease;
}
.playerBottom.expand .trackInfo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  height: 50%;
  font-size: 0.9rem;
}
.playerBottom .trackInfo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 10vw;
  flex-direction: row;
  font-size: 0.7rem;
  padding: 5px;
}
.playerBottom.expand .trackInfo .artist {
  display: block;
}
.playerBottom .trackInfo .artist {
  display: none;
}
.playerBottom.expand .trackInfo .albumArt {
  width: 30vh;
  height: 30vh;
  border-radius: 50%;
}
.playerBottom .trackInfo .albumArt {
  width: 50px;
  height: 50px;
}
.playerBottom.expand .trackActions {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  height: 50%;
  font-size: 0.5rem;
}
.playerBottom .trackActions {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  font-size: 0.9rem;
}
.playerBottom.expand .trackActions .seekWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  height: 70px;
  background: transparent;
  padding: 5px;
  border-radius: 12px;
  font-size: 0.7rem;
  margin: 10px auto;
}
.playerBottom .trackActions .seekWrapper {
  position: absolute;
  top: 0;
  transform: translateY(-72px);
  width: 100%;
}
.playerBottom .trackActions .seekWrapper .currentTime,
.playerBottom .trackActions .seekWrapper .duration {
  display: none;
}
.playerBottom.expand .trackActions .seekWrapper .currentTime,
.playerBottom.expand .trackActions .seekWrapper .duration {
  display: block;
}
.playerBottom.expand .trackActions .seek {
  position: absolute;
  bottom: 10px;
  width: calc(100% - 10px);
  height: 2px;
}
.playerBottom.expand .trackActions .volWrapper {
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  gap: 10px;
}
.playerBottom .trackActions .volWrapper {
  display: none;
}
.volWrapper .icon {
  text-align: center;
  width: 40px;
  height: 30px;
  border-radius: 50%;
  border-color: transparent;
  background: rgba(128, 0, 128, 0.3);
  color: white;
  cursor: pointer;
  transition: 0.2s all ease;
}
.volWrapper .icon:hover {
  background: rgba(128, 0, 128, 0.6);
}
.seek::-webkit-slider-thumb,
.vol::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  border: 1px solid gray;
  border-radius: 50%;
  background: #20001b;
  opacity: 0.5;
  cursor: pointer;
  transition: 0.3s all;
}
.seek::-webkit-slider-thumb:hover,
.vol::-webkit-slider-thumb:hover {
  opacity: 1;
}
.playerBottom .trackActions .actions {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.playerBottom .trackActions .actions .action {
  background: rgba(128, 128, 128, 0);
  border-radius: 50%;
  border-color: transparent;
  padding: 0.5px 3px;
  cursor: pointer;
  transition: 0.3s all ease;
}
.playerBottom .trackActions .actions .action .icon {
  width: 30px;
  height: 30px;
}
.playerBottom .actions .action.active {
  background: rgba(128, 128, 128, 0.5);
  box-shadow: 0 0 10px black;
}
.playing {
  animation: rotate 30s infinite;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media screen and (max-width: 900px) {
  .playerWrapper {
    width: 95%;
    margin: 0 auto;
  }
}
